.logement-page {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}

.logement-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;

  .logement-title-location {
    .logement-title {
      color: #FF6060;
      font-size: 36px;
      font-weight: 500;
      margin-bottom: 5px;
    }

    .logement-location {
      font-size: 18px;
      color: black;
    }

    .logement-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-top: 15px;

      .logement-tag {
        background-color: #FF6060;
        color: white;
        padding: 5px 25px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 500;
        min-width: 115px;
        text-align: center;
      }
    }
  }

  .logement-host-stars {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;

    .logement-host {
      display: flex;
      align-items: center;
      gap: 10px;

      .host-name {
        color: #FF6060;
        font-size: 18px;
        text-align: right;
        width: min-content;
      }

      .host-picture {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .logement-rating {
      display: flex;
      gap: 5px;

      .star {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.logement-collapses {
  display: flex;
  gap: 20px;
  margin-top: 40px;

  .logement-collapse-item {
    flex: 1;
  }
}

.logement-collapse-item ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .logement-page {
    padding: 0 20px;
  }

  .logement-header {
    flex-direction: column;
    margin-top: 10px;

    .logement-title-location {
      .logement-title {
        font-size: 18px;
      }

      .logement-location {
        font-size: 14px;
      }

      .logement-tags {
        .logement-tag {
          font-size: 10px;
          padding: 3px 20px;
          min-width: 84px;
        }
      }
    }

    .logement-host-stars {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 15px;

      .logement-host {
        .host-name {
          font-size: 12px;
        }

        .host-picture {
          width: 32px;
          height: 32px;
        }
      }

      .logement-rating {
        .star {
          width: 15px;
          height: 15px;
        }
      }
    }
  }

  .logement-collapses {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
    gap: 20px;
  }
}
