.about-banner {
  display: flex;
  width: 100%;
  max-width: 1240px;
  height: 223px;
  border-radius: 25px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/images/banner-about.png);
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .about-banner {
    height: 111px;
    border-radius: 10px;
  }
}

