.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 223px;
    border-radius: 25px;
    margin: 0 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/images/banner-home.png);
    background-size: cover;
    background-position: center;

    h1 {
        color: white;
        font-size: 48px;
        font-weight: 700;
        margin: 0;
    }
    
    /* Version Mobile */
    @media (max-width: 768px) {
        height: 111px;
        margin: 0 20px;
        border-radius: 10px;
        justify-content: flex-start;

        h1 {
            font-size: 24px;
            padding: 0 15px;
            max-width: 250px;
        }
    }
}